{% extends "base.html" %}


{% block title %}
    Главная
{% endblock %}

{% block header %}
Главная
{% endblock %}

{% block content %}

            <div class="row gx-4 gx-lg-5 justify-content-center">
                Количество постов на странице: {{object_list|length}}
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for item in object_list %}
                    <div class="post-preview">
                        <a href="{% url 'hh:post' pk=item.pk %}">
                            <h2 class="post-title">{{item.name}}</h2>
                            <h3 class="post-subtitle">Название категории: {{item.category.name}}</h3>
                        </a>
                        <p class="post-meta">
                            Перейти на
                            <a href="{{item.url}}">эту статью</a>
                            {% if item.has_image %}
                                Есть картинка
                                {% else %}
                                Нет картинки
                            {% endif %}
                                {{item.has_image}}
                                {{item.some_method}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
                  </div>
            </div>

{% endblock %}
