{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}

{% block header %}
Главная
{% endblock %}

{% block content %}

            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for item in posts %}
                    <div class="post-preview">
                        <a href="{% url 'hh:post' id=item.id %}">
                            <h2 class="post-title">{{item.name}}</h2>
                            <h3 class="post-subtitle">Дата публикации: {{item.published}}</h3>
                        </a>
                        <p class="post-meta">
                            Перейти на
                            <a href="{{item.url}}">эту статью</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                  </div>
            </div>

{% endblock %}
