{% extends "base.html" %}

{% block title %}
{{object.name}}
{% endblock %}

{% block header %}
Тег {{object.name}}
{% endblock %}

{% block content %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h1>{{name}}</h1>
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        </br>
                        Тег {{object.name}}
                    </div>
                    <a href="{% url 'hh:tag_update' pk=object.pk %}">Изменить</a>
                </div>
{% endblock %}